RewriteEngine On

RewriteCond $1 !\.(gif|jpe?g|png|css|js|html)$ [NC]
RewriteCond $1 !phpmyadmin [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#RewriteRule ^indexInternal(.*) map.html [L,QSA]

RewriteRule ^(.*)$ index.php/$1 [L,QSA]
