body {
    background: url("../img/background.png") no-repeat;
    padding: 0;
    margin: 0;
}

.box {
    font-family: Helvetica;
    color: #fff;
    vertical-align: center;
}

.logo {
    display: block;
    margin: 20px auto;
}

.content {
    position: relative;width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0,0,0,0.25);
    padding-bottom: 1px;
}

.content h1 {
    text-align: center;
    padding: 20px 0px 0px 0px;
    font-size: 30px;
}

.content input {
    display: block;
    width: 300px;
    margin: 20px auto;
    padding: 15px;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    border: 0;
}

.content input:focus, .content input:active, .content button:focus, .content button:active {
    outline: none;
}

.content button {
    background: #742ECC;
    border: 0;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    width: 330px;
    margin: 20px auto;
    display: block;
    cursor: pointer;
}

.content button:active {
    background: #27ae60;
}

.content p {
    font-size: 14px;
    text-align: center;
}

.link {
    cursor: pointer;
    color: #333;
    text-decoration: none;
    color: gray;
}

.show {
    display: block;
}

.hide {
    display: none;
}
